# macOS
.DS_Store

# Jekyll build
/_site/
/.jekyll-cache/
/.sass-cache/

# Dependency directories
/vendor/
/.bundle/
Gemfile.lock

# Local configuration file
/_config.local.yml

# tools
convert_png2webp.sh

/_drafts/*

# export to wiki page
/_wiki/*

# writing environment
/_posts/.obsidian/*
/_posts/home.md
